html {
    font-size: 13px;
}
body{
    padding:0;margin:0;
}
/***********登录页面***********************/
div.login-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    top:0;left:0;
    background: url(loginbg.png) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.login-panel{
    width: 460px;
    height:460px;border-radius: 1.3rem;
    background: #fff;
    border-radius: 1.3rem;flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, .8);
}
div.login-panel>.logo{
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    background: #009688;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    overflow: hidden;
    text-align: center;
    color:#fff;
}
div.login-panel>.logo>h1{
    font-size: 32px;
    padding:0;margin:0;
}
div.login-panel>.login-form{
    width:70%;
    height:calc(80% - 10rem);
    margin-top: 8%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
div.login-panel>.login-form>.n-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
div.login-panel>.login-form>.n-form input{
    height: 3.5rem;
}
@media screen and (max-width: 767px) {
    div.login-panel{
        width:90vw;
    }
    div.login-panel>.login-form{
        width: 90%;margin-left: 5%;
    }
}


/********************布局页面***********************/
.app-layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.app-layout-header {
    height: 50px;
    line-height: 50px;
    padding: 0;
    background: #2b333e;
    overflow-y: hidden;
}

.app-layout-body {
    width: 100vw;
    height: calc(100vh - 50px);
}

.app-layout-sider {
    width: 240px !important;
    height: 100%;
}

.app-layout-content {
    background: #D8DCE3;
}

.app-layout-header-left {
    gap: 0 0 !important;
}

.app-layout-header-left h3 {
    padding: 0;
    margin: 0;
    width: 239px;
    text-align: center;
    background: #384250;
    color: #fff;
    height: 49px;
    line-height: 49px;
    border-right: 1px solid #313a47
}

.app-layout-header-left a:link,
.app-layout-header-left a:visited {
    height: 48px;
    line-height: 48px;
    width: 49px;
    border: none;
    color: #fff;
    background: #313a47;
    display: inline-block;
    text-align: center;
}

.app-layout-header-left a:hover {
    background: #384250;
}

.app-layout-header-right {
    padding-right: 20px;
    font-size: 1.4rem;
}

.app-layout-header-right-user-profile {
    cursor: pointer;
    padding: 0 20px;
    color: #fff;
}

.app-layout-header-right-user-profile:hover {
    background: #384250;
}

.app-layout-header-right-user-profile .auth_headimg {
    width: 20px;
    height: 20px;
}

.app-layout-sider-form {
    height: 49px;
    line-height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0px 15px 15px #ddd;
}
.app-layout-sider-form-collsped>.n-input-group{
    width:48px;
    overflow:hidden;
}
.app-layout-sider-form-collsped>.n-input-group input.n-input__input-el{
    width: 48px;
}

.app-layout-sider-form>.n-input-group {
    width: 80%;
    border-radius: 0;
}

.app-layout-sider-form>.n-input-group * {
    border-radius: 0;
}

.app-layout-sider-scorllbar {
    max-height: calc(100vh - 100px);
}

.app-layout-menu {
    overflow: hidden;
    background: rgba(255, 255, 255, 0.7)
}

.app-layout-content-breadcrumb {
    height: 50px;
    line-height: 50px;
    background: #e9ecef;
    border-radius: 0 !important;
    box-shadow: 0px 15px 15px #ddd;
}

.app-layout-content-breadcrumb>.n-card__content {
    padding: 10px 0 10px 10px !important;
}

.app-layout-content-scrollbar {
    width: calc(100% - 20px);
    height: calc(100vh - 120px);
    padding: 10px 10px 10px 8px
}

@media screen and (max-width: 992px) {
    .app-layout-header-left h3{
        width: auto;
        padding:0 10px;
    }
    .app-layout-sider{
        position: fixed;
    }

    .app-layout-header-right {
        padding-right: 5px
    }

    .app-layout-header-right-user-profile {
        padding: 0 5px
    }

    .app-layout-header-right-user-profile>.n-space {
        justify-content: center !important;
        gap: 0 !important;
        padding-top: 6px;
    }

    .app-layout-header-right-user-profile .auth_headimg {
        width: 28px;
        height: 28px;
    }

    .app-layout-header-right-user-profile .auth_nickname {
        display: none
    }
    .app-layout-sider-form>.n-input-group{
        margin-left: 30px;
    }
    .app-layout-menu{
        padding-left: 10px;
    }
    .app-layout-content{
        position: relative;
    }
    .app-layout-content-conver{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: #eee;
        opacity: 0.6;
    }
}